@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
/* ++++++++++++++++custom scroll bar +++++++++++++++ */

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background:var(--scrollback); /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#5b29efa7,#af6befa1); /* Color of the thumb */
  border-radius: 10px; /* Roundness of the thumb */
  width: 1000px;
}

/* Define the container height for scrolling */
.scrollable-container {
  height: 200px;
  overflow-y: scroll; /* Enable vertical scrollbar */
  
}

/*=====dark mode ===========*/
:root {
  --herocontainer:linear-gradient(#dedce4,#b3acb9);
  --black-color: #ffffff;
  --dark-blue: #6429ef;
  --bg-color: #222;
  --blur-element-color: #555;
  --shadow-2: 0 0 20px 5px rgba(195, 132, 14, 0.3);
  --header-l: #4f4f4f80;
  --text-color-second:rgb(199, 199, 199);
  --secolorsubtxt:#b0b0b0;
  --footercolor:#4a425d;
  --dpcircle:#464b54;
  --mail:#a8a7a7;
  --footericon:#b786ff;
  --scrollback:#393939; 
  --box-shadow-scroll: 9px 9px 33px #141414, -9px -9px 33px #434343;
  --contact:#c9c9c9;
  --h1big:rgba(255, 255, 255, 0.1);
  --blur-element-color2: #555;
  --first-color2:rgb(91, 41, 239);
}

body {
  background-color: var(--bg-color);
  transition: 0.3s;
}
.home {
  background: var(--homee);
}
.nav-link {
  color: var(--black-color);
  transition: 0.3s;
}


/*=====hero section ===========*/
.hero {
  position: relative;
  display: flex;
  padding: 0 8vw;
  width: 100%;
  height: 100vh;
  z-index: 5;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.hero-work {
  font-family: "Abril Fatface";
  font-size: 50px;
  color: var(--black-color);
}
.hero-description {
  font-family: "poppins", sans-serif;
  padding-block: 20px 38px;
  width: 500px;
  color: var(--black-color);
  
}
.hero-buttons {
  display: flex;
  gap: 20px;
 
}
/* .btn download-btn {
  display: flex;
  gap: 20px;
 
} */
.download-btn {
  font-family: "poppins" sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--first-color);
  color: var(--third-color);
  box-shadow: var(--shadow-1);
  text-decoration: none;
}

.hero-social-icons {
  position: absolute;
  bottom: 80px;
  display: flex;
  gap: 50px;
}
.hero-social-icons i {
  opacity: 0;
  font-size: 24px;
  color: var(--black-color);
  cursor: pointer;
  transition: color 0.3s;
  animation: fade-down 1s ease-out var(--icon-animation-delay) forwards;
}
.hero-social-icons i:hover {
  color: var(--first-color);
}
.bxl-github {
  --icon-animation-delay: 0ms;
  --icon-count: -20px;
}
.bxl-linkedin {
  --icon-animation-delay: 200ms;
  --icon-count: -50px;
}
.bxl-instagram {
  --icon-animation-delay: 400ms;
  --icon-count: -80px;
}
.bxl-twitter {
  --icon-animation-delay: 600ms;
  --icon-count: -100px;
}

/*=====  MY image section ===========*/
.col-2 {
  position: relative;
  display: flex;
  align-items: flex-end;
}
.hero-img-container {
    width: 420px;
    height: 450px;
    background: var(--herocontainer);
    border-radius: 46% 54% 34% 66% / 54% 61% 39% 46%;
    overflow: hidden;
    animation: fade-left 1.4s ease-out, imgFloat 7s ease-in-out infinite;
  }

@keyframes imgFloat {
  50% {
    transform: translateY(10px);
    border-radius: 55% 45% 55% 45%;
  }
}

.hero-img-container::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
  width: 410px;
  height: 415px;
  border: 2px solid var(--first-color);
  border-radius: 46% 54% 34% 66% / 54% 61% 39% 46%;
  opacity: 0;
}
.hero-image {
  height: 600px;
  margin-left: 0px;
  background-position: center;
  /* margin-right: 1000px; */
}

/*=====header -navigation bar ===========*/
header {
  position: fixed;
  font-family: "Abril Fatface", serif;
  height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8vw;
  z-index: 50;
}
.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--header-l); /* Adjust opacity as needed */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    z-index: 100; /* Ensure the header is above other content */
    transition: all 1s ease; /* Add transition effect for smooth animation */
}
.logo span {
  font-size: 35px;
  color: var(--black-color);
}
.nav_menu {
  display: flex;
  list-style-type: none;

}
.nav-list {
  padding: 0 30px;
}
.nav-link {
  position: relative;
  text-decoration: none;
  color: var(--black-color);
  font-size: 18px;
  transition: 0.3s;
}
/* .nav-link:hover {
  color: var(--first-color);
} */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(nav-list);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.nav_button {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn {
  padding: 0 24px;
  height: 45px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.3s;
}
.btn:hover {
  opacity: 0.8;
}
.about-btn{
  margin-left: 55%;
  transform: translateY(60%);
  background-color: var(--first-color);
  border-radius: 40px;
}
.about-btn:hover {
  opacity: 0.8;
}
.about-btn a{
  color: #ffffff;
}
.hire-me-btn {
  font-family: "Abril Fatface", serif;
  background-color: white;
  box-shadow: var(--shadow-2);
  color:var(--bgcolor);

}

.hire-me-btn:hover{
  color: rgb(243, 16, 4);
  background-color: #fefefe;
  transition: .2s ease-in-out;
}
.nav_button span {
  color: var(--black-color);
  cursor: pointer;
}
.nav_button .dark-mode-toggle {
  font-size: 18px;
}
.nav_button .menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}



/*============== about section============ *

/*============== resplonsive design============ */
@media (max-width: 1052px) {
  header,
  .hero {
    padding: 0 4vw;
  }
}
@media (max-width: 962px) {
  header {
    position: relative;
  }
  .nav_button .menu-toggle {
    display: block;
  }
  .nav_menu.display-menu {
    display: flex;
  }
  .nav_menu {
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
    flex-direction: column;
    align-items: center;
    background-color: rgba(215, 215, 215, 0.585);
    backdrop-filter: blur(20px);
    width: 300px;
    padding: 40px 0;
    border-radius: 20px 0px 20px 20px;
    border-radius: 20px 0px 20px 20px;
    box-shadow: -8px 8px 20px rgba(0, 0, 0, 0.2);
  }
  .nav-list {
    margin: 20px 0;
  }
  .nav-link {
    color: #000000;
  }
  .hero {
    flex-direction: column;
  }
  .col {
    width: 100%;
  }
  .col-1 {
    order: 2;
  }
  .col-2 {
    order: -2;
    align-items: center;
    margin: 7px;
  }
  .hero-img-container::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-social-icons {
    position: static;
    margin: 60px 0;
  }
  .custom-shape-divider-bottom-1712244195 {
    opacity: 0;
  }
  .scroll-icon-box {
    display: none;
 }
 .row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
 }
 .col{
  display: flex;
  justify-content: center;
  gap: 100px;
 }
 .about-info{
  width: 100%;
 }
 .top-header{
  width: 80px;
 }
}
@media (max-width: 514px) {
  header,
  .hero {
    padding: 6vw;
  }
  .hire-me-btn {
    display: none;
  }
  .hero-work {
    font-size: 40px;
  }
  .hero-img-container {
    width: 270px;
    height: 275px;
  }
  .hero-img-container::before {
    width: 280px;
    height: 285px;
  }
  .hero-image {
    height: 275px;
  }
  .hero-description {
    width: inherit;
  }
  .theme-switch {
    --toggle-size: 8px;
  }
  .hire-me-btn {
    display: block;
  }
  .scroll-icon-box {
    display: none;
 }
 .form-inputs{
  flex-direction: column;
}
.input-field{
  width: 100%;
}
}
